footer{
	bottom: 0;
	.footer{
		padding: 10px;
		text-align: center;
		li{
			display: inline;
			list-style: none;
			padding: 0 5vw;
			letter-spacing: 2px;
				a{
					padding-top: 10px;
				}
		}
	}
}