header {
	padding: 10px 0;
	overflow-x:hidden;

	.logo{
		padding: 20px 20px 5px 20px;
		text-align: left;
			@media (max-width: $screen-sm-max) {
				text-align: center;
			}
			&:hover{
				text-decoration: none!important;
			}

		p{
			color: $brown;
			font-family: 'Cedarville Cursive', cursive;;
			font-size: 2em;
			margin: 0;
				a{
					&:hover{
						text-decoration: none!important;
					}
				}
		}

	}

	.nav-menu{
		margin-top: -40px;
		text-align: right;
			@media (max-width: $screen-sm-max) {
				margin-top: 0px;
				text-align: center;
			}

				ul {
					list-style: none;
					padding: 0;

					li{
						color: $brown;
						display: inline;
						font-family: $body-font;
						font-size: 1em;
						font-weight: 300;
						letter-spacing: 2px;
						padding-left: 20px;
						text-align: center;
					}
				}
	}

}