
@mixin semi-trans-background($color, $opacity: 0.3) {
	background: $color;
	background: rgba($color, $opacity);
}

@mixin vertical-center-element(){
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}