.contact{

	.message{
		padding: 0 0 20px 0;
	}
	label{
		color: $gold;
		font-weight: 300;
	}

	#ninja_forms_field_4{
		background: $gold;
	    border: 3px solid $gold;
	    border-radius: 10px;
	    font-family: $body-font;
	    font-size: 1em;
	    letter-spacing: 2px;
	    margin: 20px auto;
	    padding: 8px 60px;
	    text-transform: uppercase;
	    color: $brown;
	    	&:hover{
	    		background: transparent;
	    		a{
	    			text-decoration: none;
	    		}
	    	}
	}

	#ninja_forms_form_1_cont{
		font-family: $body-font;
	}
}