.contact{

	.message{
		padding: 0 0 20px 0;
	}
	label{
		color: $gold;
		font-weight: 300;
	}

	#ninja_forms_field_4{
		background: $gold;
		padding: 5px 40px;
	}

	#ninja_forms_form_1_cont{
		font-family: $body-font;
	}
}