.gallery{
	padding: 50px 0px;
	p{
		color: $gold;
		font-family: $heading-font;
		font-size: 2em;
		text-align: center;
		padding-bottom: 15px;
	}


	.portfolio-message{
		color: $brown;
		font-family: $body-font;
		font-size: 1em;
	}
}
