.gallery{
	padding: 50px 0px 50px 60px;
h3{
	color: $gold!important;
	font-family: $body-font!important;
	text-transform: uppercase!important;
}
}
.title{
	color: $gold!important;
	font-family: $body-font!important;
	text-transform: uppercase!important;
}
.description{
	p,li{
		text-transform: none!important;
	}
}

#gicolorbox{
	height: 500px!important;
}

#gicboxWrapper{
	height: 500px!important;
}

#gicboxMiddleLeft{
	height: 458!important;
}

#gicboxContent{
	height: 458px!important;
}

#gicboxLoadedContent{
	height: 430px!important;
}

.gicboxPhoto{
	height: 430px!important;
}