.filter{
		-webkit-filter: sepia(20%);
		box-shadow:  inset 0px 0px 150px #323430;

	}

.content{
			padding-bottom: 8vh;
			text-align: center;

		.welcome {
			padding-bottom: 10vh;
			padding-top: 20vh;
			text-align: center;

				h1{
					color: $white;
					font-family: $heading-font;
					font-weight: 900;
					margin: 0;
					padding: 0;
				}

				p{
					color: $white;
					font-family: $body-font;
					font-size: 1.25em;
					font-weight: 100;
					margin: 0;
					padding: 0;
				}
		}
	}

.main-grid{
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.grid{
	background: #E1CBC2;
	border: 3px solid $white;
	height: 25vh;
		@media (max-width: $screen-sm-max) {
			height: 30vh;
			
		}
	.more{
	color: #736833;
	font-weight: 300;
	font-size: 1em;
		&:hover{
			text-decoration: underline;
		}
}
	a{
		color: #C5B358;
			&:hover{
				text-decoration: none;
				color: #968943;
			}
		}
}

h2{
	margin: 0;
	padding: 10px 0 0;
	text-align: center;
}