.background{
	background: $pink;
	border: 3px solid $white;
}

.background-home{
	background: $white;
}

.background-other{
	background: $pink;
}

.filter{
		-webkit-filter: sepia(20%);
		box-shadow:  inset 0px 0px 150px #323430;

	}

.content{
			padding-bottom: 8vh;
			text-align: center;

		.welcome {
			padding-bottom: 10vh;
			padding-top: 20vh;
			text-align: center;

				h1{
					color: $white;
					font-family: $heading-font;
					font-weight: 900;
					margin: 0;
					padding: 0;
				}

				p{
					color: $white;
					font-family: $body-font;
					font-size: 1.25em;
					font-weight: 100;
					margin: 0;
					padding: 0;
				}

				button{
					background: $gold;
				    border: 3px solid $gold;
				    font-family: $body-font;
				    font-size: 1em;
				    margin: 10px auto;
				    padding: 10px 40px;
				    text-transform: uppercase;
				    color: $brown;
				    	&:hover{
				    		background: transparent;
				    		a{
				    			text-decoration: none;
				    		}
				    	}
				}
		}
	}

.main-grid{
	padding: 40px 0;
	margin: 0 auto;
}

.grid{
	text-align: center;
	padding: 10px 0;

	.circle{
		border-radius: 100%;
		height: 250px;
		width: 250px;
		display: block;
		margin: 0 auto;
	}

	a{
		color: $white;
			&:hover{
				text-decoration: none;
			}
		}
}

.front h2{
	margin: 0;
	padding: 10px 0 0;
	text-align: center!important;
	line-height: 230px;
}

.back p{
	padding: 40px;
	text-align: center;
	overflow-wrap: break-word;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
