// hr {
//     height: 30px;
//     border-style: solid;
//     border-color: $pink;
//     border-width: 2px 0 0 0;
//     border-radius: 20px;
//     width: 100%;
// }
// hr:before { 
//     display: block;
//     content: "";
//     height: 30px;
//     margin-top: -31px;
//     border-style: solid;
//     border-color: $pink;
//     border-width: 0 0 2px 0;
//     border-radius: 20px;
// }

hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(225, 203, 194, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
}

h3{
	padding: 0;
	margin: 0;
	a{
		color: $gold;
		&:hover{
			color: $gold;
			text-decoration: underline;
		}
	}
}

p{
	padding: 0;
	margin: 0;	
}

.post{
	padding: 10px 0;
}
.post_content{
	padding: 10px 0px;
}