.index{
	padding-left: 50px;

.description{
	padding-left: 15px;
}

h3{
	padding-left: 15px!important;
	padding: 0;
	margin: 0;
	a{
		color: $gold;
		&:hover{
			color: $gold;
			text-decoration: underline;
		}
	}
}

p{
	padding: 5px 0;
	margin: 0;	
}

.excerpt{
	padding: 10px 0;
	a{
		color: $gold!important;
	}
}

.thumbnail{
	border: none;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0;
}


.pagination{
	font-family: $body-font;
	color: $brown;
}
}