.post{
}

h3{
	padding: 0;
	margin: 0;
	a{
		color: $gold;
		&:hover{
			color: $gold;
			text-decoration: underline;
		}
	}
}

p{
	padding: 0;
	margin: 0;	
}

.excerpt{
	a{
		color: $gold!important;
	}
}

.thumbnail{
	max-width: 300px;
}

.sidebar{
	padding: 25px;
	padding-top: 75px;
	text-align: center;
}
.categories{
	font-family: $body-font;
}