.commentlist{
	p{
		text-transform: none;
	}
}
.single{
h3{
	a{color: $gold;
	}
}
}

.comments{
	#submit{
		background: $gold;
	    border: 3px solid $gold;
	    border-radius: 10px;
	    font-family: $body-font;
	    font-size: 1em;
	    letter-spacing: 2px;
	    margin: 20px auto;
	    padding: 5px 40px;
	    text-transform: uppercase;
	    color: $brown;
	    	&:hover{
	    		background: transparent;
	    		a{
	    			text-decoration: none;
	    		}
	    	}
	}
}